.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 200px;
    height: 200px;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.header__list-item__link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header__list-item__link:hover {
    color: blue;
}

.header__list-item__link:active {
    color: red;
}

@media (min-width: 508px) and (max-width: 765px) {
.header__logo {
    width: 100px;
    height: 100px;
}

.header__list {
    gap: 15px;
    margin-right: 20px;
}

.header__list-item__link {
    font-size: 12px;
}

}


@media screen and (min-width: 360px) and (max-width: 507px) {
  .header {
    flex-direction: column;
    border: 1px solid black;
    padding-bottom: 20px;
  }

  .header__logo {
    width: 120px;
    height: 120px;
  }

  .header__list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
  }

  .header__list-item__link {
    font-size: 14px;
  }

}